# Next.js
.next/
out/

# Node.js
node_modules/

# TypeScript
*.tsbuildinfo

# Environment variables
.env.local
.env.development.local
.env.test.local
.env.production.local

# npm
npm-debug.log*
.npm/

# yarn
yarn-debug.log*
.yarn/

# vercel
.vercel/

# misc
.DS_Store
*.log
*.tgz
.pnpm-store/
.turbo/
